* {
  font-family: 'Raleway', Arial;
}

body
{
    margin: 0 10%;
    padding: 0px;
    height: auto;
}

/* header */

header
{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    font-size: 1em;
    word-wrap: normal;
    }

.logo img
{
    width: 100px;
    padding: 15px;
    min-width: 100px;
}

ul
{
  list-style: none;
  display: flex;
  flex-wrap: wrap-reverse;
  max-width: 800px;
}

.menu_nav ul li
{
    display: flex;
    align-items: center;
    margin: 0px;
    justify-content: center;
    width: 150px;
    line-height: 98px;
   }

.menu_nav ul li a
 {
    display: flex;
    color: black;
    align-items: center;
    text-decoration: none;
}

.menu_nav ul li a:hover
{
  color: #0065FC;
  border-top: solid 2px #0065FC;
}

.menu_nav ul li p
{
  color: #0065FC;
  font-weight: bold;
}

/* Menu principal */

.search_menu
{
  padding: 15px;
  width: auto;

}

.title1
{
  margin-bottom: 15px;
}

.title1 h3
{
  font-size: 1.5em;
}

.title1 p
{
  font-size: 1em;
}

/* la barre de recherche */

.search
{
  display: inline-block;
  border-radius: 15px;
  overflow: hidden;
  height: 50px;
}

.search .map_marker
{
  margin: 0;
  background-color: #F2F2F2;
  padding: 25px 15px 25px 15px;
  width: 50px;
}

input[type="search"]
{
  border-top: solid #F2F2F2 1px;
  border-bottom: solid #F2F2F2 1px;
  border-left: none;
  border-right: none;
  height:inherit;
  width: 245px;
  margin: 0;
  text-align: center;
  font-weight: 600;
  font-size: 1em;
}

input[type="button"]
{
  background-color: #0065FC;
  border: none;
  height: 50px;
  width: 145px;
  margin: 0;
  color: #FFFFFF;
  font-weight: 600;
  font-size: 1em;
}

/* les filtres */

.filters
{
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
  flex-wrap: wrap;
  height: auto;
  margin: 30px 0 0 0;
  width: 75%;
}

.filter-item
{
  display: flex;
  flex-direction: row;
  align-items: baseline;
  height: inherit;
  margin: 0 20px;
}

.filter-icon
 {
   font-size: 1em;
   color: #0065FC;
   padding: 17.5px;
   background-color: #DEEBFF;
   border-radius: 50px;

 }

 .fa-child{

 }


.filters p
{
  font-weight: 600;
  font-size: 1em;
}

.filter-detail
{
  width: auto;
  border: solid 3px #D9D9D9;
  border-radius: 50px;
  padding: 15px 15px 15px 50px;
}


button
{
  display: flex;
  align-items: center;
  border: solid 1px #D9D9D9;
  border-radius: 50px;
  width: auto;
  background-color: #FFFFFF;
  font-weight: 600;
  padding : 0;
}

button i
{
  margin: 0;
  padding: 20px;
  border-radius: 50px;
}

button span
{
  padding: 0 10px;
}

/* info */

.info
{
  margin-top: 20px;
  font-size: 0.7em;
}

.info .span
{

}

.info-icon
{
  color: #0065FC;
}

.circle-icon
{
  color: #D9D9D9;
}

.hebergements {
  background-color: #F2F2F2;
  min-width: 350px;
  max-width: 66%;
  margin: 15px;
  flex-grow: 2;
  border-radius: 25px;

}

.trending {
  background-color: #F2F2F2;
  border-radius: 25px;
  min-width: 350px;
  max-width: 33%;
  margin: 15px;
  flex-grow: 1;
}

.main{
  display: flex;
  height: auto;
  flex-wrap: wrap-reverse;
}

.house-choice{
  display: flex;
  flex-wrap: wrap;
  min-height: 200px;
  padding: 25px 25px;
  justify-content: space-between;
}

.main a{
  color: black;
  text-decoration: none;
}

.house{
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  min-height: 200px;
  min-width: 250px;
  border-radius: 25px;
  margin: 1em;
  flex: 1;
}

.house .img{
  background-position: center;
  background-size: cover;
  height: 75%;
  margin: 5px 5px 0 5px;
  border-radius: 25px 25px 0 0;
}

.img1{
  background-image: url(../images/hebergements/4_small/marcus-loke-WQJvWU_HZFo-unsplash.jpg);
}

.img2{
  background-image: url(../images/hebergements/4_small/fred-kleber-gTbaxaVLvsg-unsplash.jpg);
}

.img3{
  background-image: url(../images/hebergements/4_small/reisetopia-B8WIgxA_PFU-unsplash.jpg);
}

.img4{
  background-image: url(../images/hebergements/4_small/annie-spratt-Eg1qcIitAuA-unsplash.jpg);
}

.img5{
  background-image: url(../images/hebergements/4_small/nicate-lee-kT-ZyaiwBe0-unsplash.jpg);
}

.img6{
  background-image: url(../images/hebergements/4_small/febrian-zakaria-M6S1WvfW68A-unsplash.jpg);
}

.house-details{
  flex-grow: 1;
  margin: 0;
  padding-left: 20px;
  padding-bottom: 10px;
}

.house-price{
  margin: 0 0 5px 0;

}

.house-name{
  margin: 5px 0;
  font-weight: 600;
}

.stars-blue{
  color: #0065FC;
}

.stars-gray{
  color: #D9D9D9;
}

.main header{
  padding: 25px 25px 0 35px;
}

.price{
  font-weight: 600;
}

.main footer a{
  text-decoration: none;
  font-weight: 700;
}
.main footer{
  padding: 25px 25px 25px 35px;
}
